<section class="abovefooter text-white" style="background-color: #CF111A;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-books_fgctjl.png" alt="icon-books">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">MORE THAN 1.000 BOOKS</h3>
                        <p class="detail">Selected by Dream</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-ship_nxclhf.png" alt="icon-ship">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">FREE SHIPPING</h3>
                        <p class="detail">From 150.000VND in Hanoi</p>
                        <p class="detail">From 300.000vnd in other province</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-gift_rvqo1o.png" alt="icon-gift">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">FREE GIFTS</h3>
                        <p class="detail">Free bookmark</p>
                        <p class="detail">Free book cover</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-return_pj4sik.png" alt="icon-return">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">QUICK REFUND</h3>
                        <p class="detail">Faulty goods can be returned quickly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>