{% extends 'admin/master.html'%}


{% block head%}
{{super()}}
{% endblock%}


{% block body %}
{{super()}}
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div>
                <h2 class="text-white pb-2 fw-bold">Order</h2>
                <h5 class="text-white op-7 mb-2">Bookstore Management</h5>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2 justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Bookstore options managements</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="stats-choice">
                            <form class="d-flex flex-wrap align-items-center justify-content-center">
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="input-asc" name="gender" class="custom-control-input"
                                            checked="">
                                        <label class="custom-control-label" for="input-asc">Sort ascending</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="input-desc" name="gender" class="custom-control-input"
                                            checked="">
                                        <label class="custom-control-label" for="input-desc">Sort up descending</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectPrice">Search by price</label>
                                    <select name="selectPrice" id="selectPrice">
                                        <option value="select-all">--- All ---</option>
                                        <option value="select-1">Under 1.000.000 dong</option>
                                        <option value="select-2">Between 1.000.000 - 2.000.000 dong</option>
                                        <option value="select-3">Above 2.000.000 dong</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary my-2 my-sm-0 ml-2" onclick="getCartData()">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cart-admin" class="row">
          
            
        </div>
    </div>

</div>
{% block script %}

<!-- Main JS -->
<script src="{{ url_for('static', filename='js/admin/admin_cart.js') }}"></script>
{% endblock %}
{% endblock %}