{% extends 'admin/master.html'%}


{% block head%}
{{super()}}
<script src="{{url_for('static', filename='js/admin/preview.js')}}"></script>
{% endblock%}


{% block body %}
{{super()}}
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div>
                <h2 class="text-white pb-2 fw-bold">Preview book</h2>
                <h5 class="text-white op-7 mb-2">Bookstore management</h5>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2 justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Search</div>
                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="form-group form-show-validation row">
                                <label for="bookName" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-center">Book Name</label>
                                <div class="col-lg-6 col-md-9 col-sm-8" id="bookNameInput">
                                    <input type="text" name="bookName" placeholder="Book Name" id="bookName"
                                        style="width: 100%; padding-left:15px;" />
                                    <div id="bookNameResultInput" class="show-hint preview-book"></div>
                                </div>
                                <div class="col-lg-3 col-12 text-center btn-search">
                                    <button id="searchBookName" type="button"
                                        class="btn btn-secondary my-2 my-sm-0 ml-2">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Search result</div>
                    </div>
                    <div class="card-body">
                        <div id="bookInfo"></div>
                        <div id="previewInfo" style="margin-top: -30px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-12" id="previewAddition">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add more book preview information</div>
                    </div>
                    <form action="/admin/previewview/api/add-preview" enctype="multipart/form-data" method="post">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="newPreview">Can select more than 1 file per</label>
                                <input type="file" name="new_preview" class="form-control" id="newPreview" multiple style="padding: 20px;">
                            </div>
                            <div class="form-group">
                                <input type="text" name="book_name" class="form-control" id="bookNameData" hidden>
                            </div>

                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary my-2 my-sm-0 ml-2">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
